@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --fontFamily: 'Roboto', sans-serif;
  --minWidth: 320px;
  --brdRadius: 8px;
  --brdColor: rgb(160, 159, 159);
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.d_none {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  /* overflow: auto; */
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tooltip {
  width: 360px;
  position: absolute;
}

.tooltip__content {
  border: 3px solid var(--brdColor);
  border-radius: var(--brdRadius);
}

.tooltip__arrow {
  position: relative;
}

.tooltip__arrow::before,
.tooltip__arrow::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
}

.tooltip__arrow::before {
  top: -2.5px;
  border: 10px solid transparent;
  border-top-color: var(--brdColor);
}

.tooltip__arrow::after {
  top: -3px;
  border: 6px solid transparent;
  border-top-color: white;
}

.tooltip__title {
  font-size: 1.3rem;
  padding: 15px;
  background-color: rgb(245, 245, 245);
  border-bottom: 1px solid rgb(160, 159, 159);
}

.tooltip__text {
  padding: 15px;
  font-size: 1.2rem;
}

.component__button {
  text-align: center;
}

.button {
  margin-top: 10px;
  font-size: 1.2rem;
  border: 1px solid #000;
  padding: 15px 30px;
  border-radius: var(--brdRadius);
  background-color: red;
  color: #fff;
  position: relative;
  transition: all .5s ease 0s;
}

.button:hover {
  background-color: green;
  transition: all .5s ease 0s;
}